
/* Fixing the search box
-------------------------------------------------- */

div.ace_search_options {
    float: right;
}

button.ace_replacebtn {
    margin-left: -6px;
    font-size: 80%;

}



/* Application CSS
-------------------------------------------------- */

h1 {font-size: 36px; color:darkblue;}
h2 {font-size: 20px; margin-top:36px;}
h3 {font-size: 14px}

em {
    font-weight: bold;
    font-style: normal;
}

pre {
    font-size: 12px;
}

#editor, #tutorial {
    margin: 0;
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 50%;
    left: 0;
    border-bottom: none;
    display: none;
}

#tutorial {
    padding: 16px;
    overflow-y: scroll;
    display: block;
}

#cmdlineeditor {
    width: 100%;
    min-height: 60px;
    margin-bottom: 0;
}

#reader {
    width: 100%;
    padding: 3px;
}	
		
#shell {
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 0;
    width: 50%;
}


.navbar-fixed-bottom {
    border-top: 2px solid #E5E5E5;
}

.footer {
    text-align: center;
    margin: 14px;
}


legend {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 12px;
    color: darkblue;
    border-bottom: 1px solid #E5E5E5;
}

.preference-menu {
    width: 120px;
}

#slider {
    margin-top: 3px;
    width: 80px;
}

